{% extends "kerbie/base.html" %}

{% block title %}Add Pictures! {% endblock %}

{% block body_block %}
<div class="hero-unit">
<h1>Add Pictures!</h1>
<div class="container">
<form class="span6" id = "addImage_form" action="add_pictures" method="post" enctype="multipart/form-data">
	{% csrf_token%}
	{{ form.as_p }}
	<button class="btn btn-primary" type="submit" name="submit">Add Picture!</button>
</form>
<br/>
</div>
<br/>
<a href='/kerbie/pictures/'>View</a> uploaded pictures!
</div>
{% endblock %}