{% extends "kerbie/base.html" %}

{% block title %}{{ user_profile }}'s profile{% endblock %}
{% block body_block %}
<div class="hero-unit">
	<h3>Welcome to your profile!</h3>
{% if picture %}
	Your current profile picture:
	<img src="{{picture.image.url }}" width="100"/><br/><br/>
{% endif %}
	<a href='/kerbie/add_pictures/'>Upload pictures?</a>
	<a href='/kerbie/pictures/'>View your pictures</a>
	<hr>

<form id="post_form" method="post" action="user_profile"
                enctype="multipart/form-data">
				<input type="text" name="postBody" max_length=200/><br/>
				{% csrf_token %}
				{{ post_form.as_p }}

				<input type="submit" name="submit_post" value="Post my message, Jeeves!" />
			</form>
{% if not posts %}
There are no posts! Would you like to post a message?
{% else %}
	{% for post in posts %}
		From: {{post.username}} on {{post.date}} <br/>
		{{post.postBody}}<br/>			
			<a href="/kerbie/comments/{{ post.messageId }}/">Comment!</a><br/>
		<hr>
	{% endfor %}
{% endif %}
</div>
{% endblock %}